header{
	text-align: center;
	background-color: #a7d2c8;
	}
#header_image{
	max-width: 700px;
	margin: 40px 0 0 0;
	}
#navbar{
	padding: 10px;
	background-color: white;
	opacity: 0.7;
	}
#navbar li{
	display: inline;
	padding: 0px 10px 0px 10px;
	opacity: 
	}
a{
	color: black;
	}
body{
	font-family: pt sans;
	line-height: 24px;
	}
article{
	max-width: 600px;
	padding: 5px;
	margin: 0 auto;
	}
p{
	text-align: justify;
	}
#about{
	text-align: left;
	}
#second_header{
	text-align: right;
	}
#second{
	text-align: justify left;
	}
#third{
	text-align: left;
	}
.food_images{
	max-height: 250px;
	padding: 10px 30px 10px 30px;
	}
#tips li{
	text-align: justify;
	}	

 @media (max-width: 500px){
      #header_image {
      	width: 380px;
      }
      li {
        display: block;
        padding: 5px;
      } 
      body{
		line-height: 18px;
		}
    } 
