header{
	text-align: center;
	background-color: #a7d2cb
	}
h1{
	font-size: 70px;
	font-family: "Pacifico";
	opacity: 0.8;
	}
ul{
	padding: 10px;
	}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
	}
a{
	color: black;
	}
article{
	max-width: 650px;
	padding: 20px;
	margin: 0 auto;
	}
p{
	line-height: 24px;
	text-align: justify;
	}
 @media (max-width: 500px){
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      } 
    } 
.first{
	text-align: left;
	}
.second{
	text-align: right;
	}
.third{
	text-align: left;
	}
