header{
	text-align: center;
	background-color: #a7d2c8;
	}
#header_image{
	max-width: 700px;
	margin: 40px 0 0 0;
	}

#mold_image{
	max-width: 100px;
}
#navbar{
	padding: 10px;
	background-color: white;
	opacity: 0.7;
	}
#navbar li{
	display: inline;
	padding: 0px 20px 0px 20px;
	}
a:link, a:visited {
	color: black;
	text-decoration: none;
	opacity: 0.75;
	}
a:hover, a:active {
	text-decoration: underline;
	opacity: 1;
	}
body{
	font-family: pt sans;
	line-height: 24px;
	}
article{
	max-width: 600px;
	padding: 5px;
	margin: 0 auto;
	}
p{
	text-align: justify;
	}
#about{
	text-align: left;
	}
#second_header{
	text-align: right;
	}
#second{
	text-align: justify left;
	}
#third{
	text-align: left;
	}
.food_images{
	max-height: 250px;
	padding: 10px 30px 10px 30px;
	}
#tips li{
	text-align: justify;
	}	


.twitter-timeline{
	width: 50px;
	}

.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#results { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
}

#results:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray; 
} 

#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}

@media (max-width: 500px){
      #header_image {
      	width: 380px;
      }
      li {
        display: block;
        padding: 5px;
      } 
      body{
		line-height: 18px;
		}
    } 
